<ul>
    {% for post in site.readings %}
        <li>
            <p>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </p>
            <small>{{ post.date | date: "%b %-d, %Y" }}</small>
        </li>
    {% endfor %}
</ul>