---
layout: default
---

<div class="home">
  <p>
    {{ site.description }}
  </p>
  <p>
    Notes may be published during weekends.
  </p>
  <h2>
    <a href="https://moodle.dawsoncollege.qc.ca/course/view.php?id=33725">Moodle link</a>
  </h2>
  
  {{ content }}
</div>
